Todo List
1. Transform data by strength, 
2. One hot coding transformation
3. Split data
4. lightgbm or xgboost prediction
5. r2 values
6. finding optimal values by genetic algorithm

# Transform data by strength,

In [69]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import numpy as np
from geneticalgorithm import geneticalgorithm as ga

In [70]:
#file_name = "ÇNK dayanım çalışması data seti.xlsx"

In [71]:
file_name = "Copy of ÇNK dayanım çalışması data seti.xlsx"

In [72]:
file_name

'Copy of ÇNK dayanım çalışması data seti.xlsx'

In [ ]:
df_s = pd.read_excel(f'./data/{file_name}',skiprows=0,sheet_name="Yeni Data")

In [ ]:
df_2 = df_s[['KILN', 'TYPE', '32mM', '45mM', '90mM', 'Blaine',
       '2 Days',  'Insoluble Residue', 'SiO2', 'Al2O3',
       'Fe2O3', 'CaO', 'MgO', 'SO3', 'LOI', 'Na2O', 'K2O', 'Eq', 'Freelime',
       'S.M', 'Al.M', 'LSF', 'C3S', 'C2S', 'C3A', 'C4AF', 'L.Faz', 'MSO3',
       'Grinding Time']].copy()

In [ ]:
df_2.rename(columns={'2 Days':'Strength'},inplace=True)
df_2['passed_day'] = 2

In [ ]:
df_7 = df_s[['KILN', 'TYPE', '32mM', '45mM', '90mM', 'Blaine',
        '7 Days',  'Insoluble Residue', 'SiO2', 'Al2O3',
       'Fe2O3', 'CaO', 'MgO', 'SO3', 'LOI', 'Na2O', 'K2O', 'Eq', 'Freelime',
       'S.M', 'Al.M', 'LSF', 'C3S', 'C2S', 'C3A', 'C4AF', 'L.Faz', 'MSO3',
       'Grinding Time']].copy()

In [ ]:
df_7.rename(columns={'7 Days':'Strength'},inplace=True)
df_7['passed_day'] = 7

In [ ]:
df_28 = df_s[['KILN', 'TYPE', '32mM', '45mM', '90mM', 'Blaine',
         '28 Days', 'Insoluble Residue', 'SiO2', 'Al2O3',
       'Fe2O3', 'CaO', 'MgO', 'SO3', 'LOI', 'Na2O', 'K2O', 'Eq', 'Freelime',
       'S.M', 'Al.M', 'LSF', 'C3S', 'C2S', 'C3A', 'C4AF', 'L.Faz', 'MSO3',
       'Grinding Time']].copy()

In [ ]:
df_28.rename(columns={'28 Days':'Strength'},inplace=True)
df_28['passed_day'] = 28

In [ ]:
df_s= pd.concat([df_2,df_7,df_28])

In [ ]:
df_s.dropna(subset=['Strength'],inplace=True)

# One hot coding transformation

In [ ]:
df_s

In [ ]:
df_s = pd.concat([df_s,pd.get_dummies(df_s[['KILN','TYPE']])],axis=1)

In [ ]:
df_s.drop(['KILN','TYPE'],axis=1,inplace=True)

In [ ]:
df_s.head()

In [ ]:
# df_s.to_csv('strength.csv')

In [ ]:
df_s.describe()

In [ ]:
df_s['C3S'] = 4.071 * (df_s['CaO'] - df_s['Freelime']) - \
                   (7.602*df_s['SiO2']) - (6.718*df_s['Al2O3']) - \
                   (1.43*df_s['Fe2O3'])
df_s['C4AF']  = 3.043 *df_s['Fe2O3']
df_s['C3A']  = 2.65*df_s['Al2O3'] - 1.692 * df_s['Fe2O3']
df_s['Eq']  =  df_s['Na2O'] + 0.658 * df_s['K2O']
df_s['S.M']  =   df_s['SiO2'] / (df_s['Al2O3'] + df_s['Fe2O3'])
df_s['LSF'] = 100 * df_s['CaO'] / (2.8 * df_s['SiO2'] + 1.18 * df_s['Al2O3'] + 0.65 * df_s['Fe2O3'])
df_s['C2S'] = (2.867 * df_s['SiO2']) - (0.7544 * df_s['C3S'])
df_s['L.Faz'] = 3 * df_s['Al2O3'] + 2.25 * df_s['Fe2O3'] + df_s['MgO'] + df_s['Na2O'] + df_s['K2O']
df_s['Al.M' ] =  df_s['Al2O3'] / df_s['Fe2O3']

df_s['C4AF']  = 3.043 *df_s['Fe2O3']

df_s['C3A']  = 2.65*df_s['Al2O3'] - 1.692 * df_s['Fe2O3']

df_s['Eq']  =  df_s['Na2O'] + 0.658 * df_s['K2O']

df_s['S.M']  =   df_s['SiO2'] / (df_s['Al2O3'] + df_s['Fe2O3'])

df_s['LSF'] = 100 * df_s['CaO'] / (2.8 * df_s['SiO2'] + 1.18 * df_s['Al2O3'] + 0.65 * df_s['Fe2O3'])

df_s['C2S'] = (2.867 * df_s['SiO2']) - (0.7544 * df_s['C3S'])

df_s['C3S'] = 4.071 * (df_s['CaO'] - df_s['Freelime']) - \
                   (7.602*df_s['SiO2']) - (6.718*df_s['Al2O3']) - \
                   (1.43*df_s['Fe2O3'])

df_s['L.Faz'] = 3 * df_s['Al2O3'] + 2.25 * df_s['Fe2O3'] + df_s['MgO'] + df_s['Na2O'] + df_s['K2O']

In [ ]:
df_s.loc[df_s['Insoluble Residue'].isna(),'Insoluble Residue']= df_s['Insoluble Residue'].mean()
df_s.loc[df_s['Grinding Time'].isna(),'Grinding Time']= df_s['Grinding Time'].mean()

In [ ]:
df_s.info()

In [ ]:
df_s = df_s.sample(frac = 1)

In [ ]:
df_s.head()

In [ ]:
corr = df_s.corr()
corr.style.background_gradient(cmap='coolwarm')

# Prediction

In [ ]:
inputs=['Blaine', 'MgO', 'S.M',
          'C3S',   'C3A',   'MSO3',  
       'passed_day', 'KILN_KLİNKER-1', 'TYPE_LA']

In [ ]:
df_s

# Split data

In [ ]:
X_2 = df_s[inputs]
y_2= df_s['Strength']
X_train, X_test, y_train, y_test = train_test_split(X_2, y_2, test_size=0.3, random_state=101)
# model = LinearRegression()
# model.fit(X_train,y_train)
# y_pred = model.predict(X_test)
# y_train_pred = model.predict(X_train)

In [ ]:
df_s.shape

# Split data

In [ ]:
X_2 = df_s[inputs]
y_2= df_s['Strength']
X_train, X_test, y_train, y_test = train_test_split(X_2, y_2, test_size=0.3, random_state=101)
# model = LinearRegression()
# model.fit(X_train,y_train)
# y_pred = model.predict(X_test)
# y_train_pred = model.predict(X_train)

In [ ]:
df_s.shape

# r2 values

In [ ]:
r2_score(y_train_pred, y_train)

In [ ]:
r2_score(y_pred, y_test)

In [ ]:
df_s.loc[df_s['TYPE_L.A']==0,'MSO3'].mean()

In [ ]:
# LightGBM

In [ ]:
import lightgbm as lgb

In [ ]:
lgb_train = lgb.Dataset(X_train, y_train)
lgb_eval = lgb.Dataset(X_test, y_test, reference=lgb_train)

In [ ]:
params = {
    'task': 'train', 
    'boosting': 'gbdt',
    'objective': 'regression',
    'num_leaves': 10,
    'learnnig_rage': 0.05,
    'metric': {'l2','l1'},
    'verbose': -1
}

In [ ]:
model = lgb.train(params,
                 train_set=lgb_train,
                 valid_sets=lgb_eval,
                 early_stopping_rounds=30)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
r2_score(y_pred, y_test)

In [ ]:
a=pd.DataFrame();a['t']=y_test;a['p']=y_pred

In [ ]:
a['d'] = a['t'] - a['p']

In [ ]:
a['d'].plot()

# Finding optimal values by genetic algorithm

In [ ]:
def f(set_x):
    blaine=set_x[0]
    mgo=set_x[1]
    sm=set_x[2]
    c3s=set_x[3]
    c3a=set_x[4]
    mso3=set_x[5] 
    passed_day = 28
    kiln_1 = 1
    product_la = 0
    x_test=np.array([[blaine,mgo,sm,c3s,c3a,mso3,passed_day,kiln_1,product_la ]])
    df_test = pd.DataFrame(data=x_test,columns=X_train.columns.tolist())
    s_n= model.predict(df_test)[0] - 53
    s_p= 53- model.predict(df_test)[0] 
    return s_n+s_p

In [ ]:
l_s=[[3200,3250],[2.8,3.0],[2.25,2.55],[58,65],[5.5,8 ],[125,128]]

In [ ]:
varbound= np.array(l_s)

In [ ]:
param={'max_num_iteration': 1000,
 'population_size': 100,
 'mutation_probability': 0.6,
 'elit_ratio': 0.03,
 'crossover_probability': 0.8,
 'parents_portion': 0.2,
 'crossover_type': 'uniform',
 'max_iteration_without_improv': 150}

In [ ]:
model_ga=ga(function=f,dimension=6,variable_type='real',variable_boundaries=varbound,algorithm_parameters=param)

#model_ga.run()

In [ ]:
model_ga.param

In [ ]:
model_ga.run()

In [ ]:
set_list=['Blaine', 'MgO', 'S.M',
          'C3S',   'C3A',   'MSO3']

In [ ]:
f1 = pd.DataFrame(data=model_ga.best_variable.tolist(),index=set_list).T

In [ ]:
f1['KILN_KLİNKER-1']=1
f1['TYPE_LA']=0
f1['passed_day']=28

In [ ]:
model.predict(f1[X_test.columns])

In [ ]:
f1

In [ ]:
scenario = pd.read_excel(f'./data/{file_name}',sheet_name='senaryolar')

In [ ]:
scenario=scenario.drop([0,1])

In [ ]:
scenario.drop(['DATE OF SAMPLE','2 Days','7 Days','28 Days'],axis=1,inplace=True)

In [ ]:
scenario

In [ ]:
scenario= pd.get_dummies(scenario)

In [ ]:
scenario['passed_day']=28

In [ ]:
scenario.drop(['KILN_KLİNKER-2','NAME OF SAMPLE_NR','Freelime'],axis=1,inplace=True)

In [ ]:
scenario['Blaine']=3600

In [ ]:
scenario.rename(columns={"NAME OF SAMPLE_LA":"TYPE_LA"},inplace=True)

In [ ]:
scenario= scenario[X_test.columns.tolist()]

In [ ]:
scenario.head()

In [ ]:
scenario

In [ ]:
scenario['28_days_pred'] = model.predict(scenario)

In [ ]:
scenario.head(20)

In [ ]:
scenario.to_excel("28days_pred.xlsx")

In [ ]:
scenario.loc[scenario['28_days_pred']==scenario['28_days_pred'].max()]

In [ ]:
scenario.sort_values(by=['28_days_pred'],ascending=False).head(20)

In [176]:
scenario.head()

,Blaine,MgO,S.M,C3S,C3A,MSO3,passed_day,KILN_KLİNKER-1,TYPE_LA
2,3600,2.5,2.440376,60.53011,7.162795,127.807241,28,1,0
3,3600,2.7,2.440376,60.53011,7.162795,127.807241,28,1,0
4,3600,2.9,2.440376,60.53011,7.162795,127.807241,28,1,0
5,3600,3.1,2.440376,60.53011,7.162795,127.807241,28,1,0
6,3600,3.3,2.440376,60.53011,7.162795,127.807241,28,1,0

In [177]:
scenario

,Blaine,MgO,S.M,C3S,C3A,MSO3,passed_day,KILN_KLİNKER-1,TYPE_LA
2,3600,2.500000,2.440376,60.530110,7.162795,127.807241,28,1,0
3,3600,2.700000,2.440376,60.530110,7.162795,127.807241,28,1,0
4,3600,2.900000,2.440376,60.530110,7.162795,127.807241,28,1,0
5,3600,3.100000,2.440376,60.530110,7.162795,127.807241,28,1,0
6,3600,3.300000,2.440376,60.530110,7.162795,127.807241,28,1,0
...,...,...,...,...,...,...,...,...,...
61,3600,2.830000,2.415108,61.125569,6.649069,220.000000,28,0,1
62,3600,2.795172,2.440376,60.530110,7.162795,127.807241,28,1,0
63,3600,2.830000,2.415108,61.125569,6.649069,203.341360,28,0,0
64,3600,2.795172,2.440376,60.530110,7.162795,127.807241,28,1,1
65,3600,2.830000,2.415108,61.125569,6.649069,203.341360,28,0,1

In [178]:
scenario['28_days_pred'] = model.predict(scenario)

In [179]:
scenario.head(20)

,Blaine,MgO,S.M,C3S,C3A,MSO3,passed_day,KILN_KLİNKER-1,TYPE_LA,28_days_pred
2,3600,2.500000,2.440376,60.53011,7.162795,127.807241,28,1,0,50.311639
3,3600,2.700000,2.440376,60.53011,7.162795,127.807241,28,1,0,49.836252
4,3600,2.900000,2.440376,60.53011,7.162795,127.807241,28,1,0,49.264998
5,3600,3.100000,2.440376,60.53011,7.162795,127.807241,28,1,0,49.264998
6,3600,3.300000,2.440376,60.53011,7.162795,127.807241,28,1,0,49.244093
7,3600,2.795172,2.440376,60.53011,7.162795,127.807241,28,1,0,49.656870
8,3600,2.795172,2.440376,60.53011,7.162795,127.807241,28,1,0,49.656870
9,3600,2.795172,2.440376,60.53011,7.162795,127.807241,28,1,0,49.656870
10,3600,2.795172,2.440376,60.53011,7.162795,127.807241,28,1,0,49.656870
11,3600,2.795172,2.440376,60.53011,7.162795,127.807241,28,1,0,49.656870
12,3600,2.795172,2.300000,60.53011,7.162795,127.807241,28,1,0,49.656870
13,3600,2.795172,2.350000,60.53011,7.162795,127.807241,28,1,0,49.656870
14,3600,2.795172,2.400000,60.53011,7.162795,127.807241,28,1,0,49.656870
15,3600,2.795172,2.450000,60.53011,7.162795,127.807241,28,1,0,49.656870
16,3600,2.795172,2.500000,60.53011,7.162795,127.807241,28,1,0,49.637138
17,3600,2.795172,2.440376,61.00000,7.162795,127.807241,28,1,0,49.655829
18,3600,2.795172,2.440376,62.00000,7.162795,127.807241,28,1,0,49.655829
19,3600,2.795172,2.440376,63.00000,7.162795,127.807241,28,1,0,49.676437
20,3600,2.795172,2.440376,64.00000,7.162795,127.807241,28,1,0,49.734679
21,3600,2.795172,2.440376,65.00000,7.162795,127.807241,28,1,0,49.711497

In [180]:
scenario.to_excel("28days_pred.xlsx")

In [181]:
scenario.loc[scenario['28_days_pred']==scenario['28_days_pred'].max()]

,Blaine,MgO,S.M,C3S,C3A,MSO3,passed_day,KILN_KLİNKER-1,TYPE_LA,28_days_pred
32,3600,2.5,2.415108,61.125569,6.649069,203.34136,28,0,1,52.289681

In [182]:
scenario.sort_values(by=['28_days_pred'],ascending=False).head(20)

,Blaine,MgO,S.M,C3S,C3A,MSO3,passed_day,KILN_KLİNKER-1,TYPE_LA,28_days_pred
32,3600,2.50,2.415108,61.125569,6.649069,203.34136,28,0,1,52.289681
56,3600,2.83,2.415108,61.125569,9.000000,203.34136,28,0,1,51.806888
33,3600,2.70,2.415108,61.125569,6.649069,203.34136,28,0,1,51.760298
50,3600,2.83,2.415108,64.000000,6.649069,203.34136,28,0,1,51.737796
51,3600,2.83,2.415108,65.000000,6.649069,203.34136,28,0,1,51.684168
49,3600,2.83,2.415108,63.000000,6.649069,203.34136,28,0,1,51.679554
42,3600,2.83,2.300000,61.125569,6.649069,203.34136,28,0,1,51.672358
43,3600,2.83,2.350000,61.125569,6.649069,203.34136,28,0,1,51.672358
45,3600,2.83,2.450000,61.125569,6.649069,203.34136,28,0,1,51.642272
37,3600,2.83,2.415108,61.125569,6.649069,203.34136,28,0,1,51.642272
38,3600,2.83,2.415108,61.125569,6.649069,203.34136,28,0,1,51.642272
39,3600,2.83,2.415108,61.125569,6.649069,203.34136,28,0,1,51.642272
40,3600,2.83,2.415108,61.125569,6.649069,203.34136,28,0,1,51.642272
41,3600,2.83,2.415108,61.125569,6.649069,203.34136,28,0,1,51.642272
44,3600,2.83,2.400000,61.125569,6.649069,203.34136,28,0,1,51.642272
65,3600,2.83,2.415108,61.125569,6.649069,203.34136,28,0,1,51.642272
48,3600,2.83,2.415108,62.000000,6.649069,203.34136,28,0,1,51.642272
52,3600,2.83,2.415108,61.125569,6.000000,203.34136,28,0,1,51.642272
53,3600,2.83,2.415108,61.125569,6.500000,203.34136,28,0,1,51.642272
54,3600,2.83,2.415108,61.125569,7.000000,203.34136,28,0,1,51.642272